* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
}
.white-color {
  color: #fff;
}
.heading {
  font-size: 1.8rem;
  text-align: center;
  color: #002366;
  margin-bottom: 15px;
  animation: fadeInDown 1s ease-in-out;
}
